.atividades {
    width: 100vw;
    max-width: 450px;
    margin-bottom: 60px;
    font-family: $raleway;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        & i {
            position: absolute;
            right: 1rem;

            padding: 5px;
            border-radius: 4px;
            font-size: 2rem;
            background-color: $botaoComum;

            &:hover {
                background-color: $botaoComumHover;
            }
        }
    }

    & .cards {
        width: calc(100% - 20px);
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .sem-atividades {
            margin: 0;
            font-size: 1.2rem;
        }

        & .card-atividade {
            box-sizing: border-box;
            width: 100%;
            max-width: 400px;
            height: fit-content;
            margin: 10px 0;
            border-radius: 12px;
            background-color: $cardAviso;
            display: flex;

            &__materia {
                width: 100px;
                min-height: 100px;
                border-top-left-radius: 12px;
                border-bottom-left-radius: 12px;

                color: #ffffff;
                font-weight: 900;
                font-size: 2rem;

                display: flex;
                align-items: center;
                justify-content: center;
            }

            &__info {
                width: calc(100% - 100px);
                color: $preto;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                & .descricao {
                    padding: 10px;

                    & p, & h3 {
                        margin: 0;
                    }

                    & h3 {
                        margin-bottom: 5px;
                    }

                    &__header {
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                    }
                }

                & .detalhes {
                    box-sizing: border-box;
                    width: 100%;
                    height: 40px;
                    padding: 5px;
                    border-bottom-right-radius: 12px;

                    background-color: #cccccc75;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    & a {
                        color: $preto;

                        &:hover {
                            color: #00000098
                        }
                    }
                }
            }
        }
    }

    & .ver-mais-atividades {
        max-width: 350px;
        width: 80%;
        height: 50px;
        margin: 20px;
        margin-bottom: 30px;
        border: none;
        border-radius: 32px;
        background-color: $botaoComum;
        font-size: 1.4rem;
        text-transform: uppercase;
        color: $brancoSite;

        &:active {
            background-color: $botaoComumHover;
        }
    }
}

@media screen and (min-width: 900px) {
    .atividades {
        width: 100vw;
        max-width: 1300px;

        &__header {
            & i {
                right: 3rem;
            }
        }

        & .cards {
            box-sizing: border-box;
            width: 100%;
            align-items: center;

            &-to-left {
                box-sizing: border-box;
                max-width: 900px;
                display: flex;
                flex-wrap: wrap;
            }

            & .card-atividade {
                min-width: 400px;
                width: 30%;
                height: 200px;
                margin: 10px;

                & .titulo-atividade {
                    height: 70px;
                }

                &__info {
                    & .descricao {
                        overflow: hidden;

                        & p {
                            height: 110px;
                        }
                    }
                }
            }
        }

        & .ver-mais-atividades {
            height: 50px;
            margin: 30px;

            &:hover {
                background-color: $botaoComumHover;
            }
        }
    }

}

@media screen and (min-width: 1280px) {
    .atividades {
        & .cards {
            &-to-left {
                max-width: 1300px;
            }
        }
    }
}
