.destaque {
    width: 100vw;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url('../imgs/carta.png');
    background-color: $backgroundGradient3;
    background-size: 100px;
    background-blend-mode: multiply;

    &__titulo {
        margin: 10px;
        padding: 20px;
        text-align: center;
        background-color: $header;
        box-shadow: 5px 5px 10px #0000003f;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
            font-family: 'Comfortaa', sans-serif;
        }

        .jogos-internos {
            margin-bottom: 1rem;
            font-size: 2.2rem;
            text-transform: uppercase;
        }

        .a2022 {
            font-size: 4.3rem;

            & span:not(& span:last-child) {
                letter-spacing: 3.5rem;
            }
        }
    }

    .joker {
        width: 120%;
    }
}

.divider {
    margin: 0 10px;
    border: 2px solid #0A3A35;
}

@media screen and (min-width: 768px) {
    .destaque {
        flex-direction: row-reverse;
        justify-content: space-around;

        &__titulo {
            position: relative;
            left: -3rem;
            width: 60vw;
            align-items: flex-end;

            span, p {
                width: 60%;
            }

            .jogos-internos {
                font-size: 3rem;
            }

            .a2022 {
                font-size: 6rem;
            }
        }

        .joker {
            width: 50%;
        }
    }
}
