.destaque {
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    border-top: 1px solid $brancoSite;
    border-bottom: 1px solid $brancoSite;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__titulo {
        margin: 10px 0;
        background-color: #0000006e;
    }

    & h2 {
        margin: 0;
        font-weight: 600;
    }

    & p {
        padding: 10px;
        font-size: 1.5rem;
        font-family: $raleway;
        text-align: center;
    }

    & .opcoes-fardas {
        width: 100%;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-around;

        & button {
            width: 45%;
            height: 50px;
            border: 4px solid $brancoSite;
            border-radius: 32px;
            background-color: $botaoToggle;
            font-size: 1.4rem;
            text-transform: uppercase;
            color: $brancoSite;

            &:active {
                background-color: $botaoToggleAtivo;
                color: $preto;
            }
        }

        & .ativa {
            background-color: $botaoToggleAtivo;
            color: $preto;

            &:active {
                background-color: $botaoToggleAtivoHover;
                border: 4px solid $botaoToggleAtivoHover;
            }
        }
    }
}

.fardas-conteiner {
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .destaque {
        min-width: 900px;

        &__titulo {
            width: 100%;
        }

        & h2 {
            box-sizing: border-box;
            width: 100%;
            margin: 0 auto;
        }

        & .conferir-designs {
            width: 400px;
            display: flex;
            flex-direction: column;
        }

        & .opcoes-fardas {
            & button {
                &:hover {
                    background-color: $botaoToggleAtivo;
                    color: $preto;
                }

                & .ativa:hover {
                    background-color: $botaoToggleAtivoHover;
                    border: 4px solid $botaoToggleAtivoHover;
                }
            }

        }
    }

    .fardas-conteiner {
        width: 100%;
        margin-bottom: 20px;

        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1200px) {
    .destaque {
        width: 100%;
        max-width: 1600px;

        & h2 {
            width: 50%;
            font-size: 2.5rem;
        }

        & p {
            font-size: 1.4rem;
        }

        & .conferir-designs {
            width: 40%;
        }

        & .opcoes-fardas {
            & button {
                cursor: pointer;
                height: 60px;
            }
        }
    }
}

.fardas {
    position: relative;
    width: 100vw; height: 400px;
    max-width: 400px;

    &::before {
        content: ' ';
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 80%;
        height: 5px;
        border-radius: 50%;
        background-color: $backgroundGradient1;
        filter: blur(7px);
    }

    & img {
        position: absolute;
        width: 18rem;
    }

    & .frente, & .verso {
        animation-name: floating;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }

    & .frente {
        z-index: 1;
        right: 5%;
    }

    & .verso {
        top: 1rem;
        left: 5%;
        opacity: 0.8;
        animation-delay: 1s;
    }
}

.casual {
    & .frente {
        top: 6rem;
    }
}

.polo {
    & .frente {
        top: 4rem;
    }
}

@media screen and (min-width: 780px) {
    .fardas {
        width: 600px; height: 600px;

        & img {
            width: 70%;
        }

        & .frente {
            right: auto;
            left: 0;
        }

        & .verso {
            left: auto;
            right: 0;
        }
    }
}

.uniforme-entrando {
    animation: aumentando-opacidade .5s ease-in forwards;
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.pedido {
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h3 {
        margin: 15px 0 0;
        font-weight: 300;
        font-size: 1.5rem;
    }

    & p {
        margin: 10px 0;
    }

    & a {
        width: 250px; height: 50px;
        margin: 10px;
        background-color: $botaoComum;
        text-transform: uppercase;
        color: $brancoSite;
        text-decoration: none;
        font-size: 1.4rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &:active {
            background-color: $botaoComumHover;
        }
    }
}

@media screen and (min-width: 1024px) {
    .pedido {
        & h3 {
            font-size: 1.8rem;
        }

        .obs {
            font-size: 1.2rem;
        }

        & a {
            width: 350px; height: 60px;
            margin: 30px;

            &:hover {
                background-color: $botaoComumHover;
            }
        }
    }
}
