footer {
    z-index: 1;
    position: relative;
    background-color: $footer;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .rodape {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column-reverse;

        & .logo-ifal {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            & img {
                width: 7.5rem;
            }

            & p {
                width: 60%;
                margin: 0;
                font-size: .8rem;
            }

        }
    }

    & .creditos {
        margin: 20px 0;
        font-size: .8rem;
    }
}

@media screen and (min-width: 780px) {
    footer {
        font-size: 1.2rem;

        & .rodape {
            flex-direction: row;
            align-items: center;

            & .logo-ifal {
                & p {
                    font-size: 1rem;
                }
            }
        }

        & .creditos {
            font-size: 1rem;
        }
    }
}

.outras-infos {
    padding: 10px;

    & h3 {
        padding: 5px;
        background-color: #0000002d;
        font-size: 1.3rem;
    }

    & ul {
        padding-left: 20px;
        margin: 0;
        list-style: none;

        & li {
            margin: 15px 0;

            & span {
                display: block;
            }

            & a {
                color: $brancoSite;
                text-decoration: none;
                display: flex;
                align-items: center;

                & .site {
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }

                & .material-icons-round {
                    margin: 10px;
                }
            }

        }
    }

    & .outros-contatos {
        position: relative;
    }

    & .email-turma {
        display: flex;
        align-items: center;

        & i {
            margin: 5px 5px 5px 10px;
            font-size: 1.5rem;
            color: #ffc67b;
        }

    }
}

@media screen and (min-width: 780px) {
    .outras-infos {
        display: flex;
        width: 60vw;

        & section {
            margin: 10px;
        }

        & .outros-contatos {
            width: 50%;
        }

        & .outros-sites {
            width: 40%;
        }
    }
}

#obs-email-turma {
    position: absolute;
    left: 180px;
    top: -10px;
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    background-color: $alerta;
    font-size: .8rem;

    & p {
        margin: 0;
    }

    & .triangulo-esquerda {
        position: absolute;
        bottom: 5px;
        left: -13px;

        border-right: 7px solid $alerta;

        border-bottom: 7px solid transparent;
        border-top: 7px solid transparent;
        border-left: 7px solid transparent;
    }
}

@media screen and (min-width: 400px) {
    #obs-email-turma {
        top: -10px;

        & .triangulo-esquerda {
            bottom: 5px;
            left: -14px;
        }
    }
}

.obs-email-entrando {
    animation: aumentando-opacidade .2s ease-in forwards;
}
