html {
    font-size: 14px;
}

body {
    margin: 0;
    font-family: $poppins;
    color: $brancoSite;
}

strong {
    font-weight: 600;
}

.material-icons-round {
    cursor: pointer;
    user-select: none;
}
