html {
    font-size: 14px;
}

body {
    overflow-x: hidden;
    margin: 0;
    font-family: $poppins;
    color: $brancoSite;
}

strong {
    font-weight: 600;
}

.material-icons-round {
    cursor: pointer;
    user-select: none;
}

@keyframes aumentando-opacidade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
