header {
    position: relative;
    background-color: $header;
    box-shadow: 0 5px 10px #00000088;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    position: absolute;
    right: 2rem;
    top: 1.8rem;

    & i {
        font-size: 2rem;
    }
}

.logo {
    padding: 10px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;

    & img {
        width: 3.2rem;
    }

    & .turma {
        margin: 5px;
        font-weight: 400;
        font-family: 'Rubik', sans-serif;
    }

}

nav {
    width: 100vw;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    & a, & router-link {
        width: 100vw;
        padding: 10px;
        text-decoration: none;
        color: $brancoSite;

        &:hover, &:focus {
            background-color: $botaoComumHover;
        }
    }
}

@media screen and (min-width: 780px) {
    header {
        height: 80px;
        flex-direction: row;
        justify-content: space-between;

        & .logo {
            margin: 10px;
        }
    }

    nav {
        width: auto; height: 100%;
        flex-direction: row;

        & a, & router-link {
            width: 200px;
            height: 100%;
            padding: 0;

            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: $botaoComumHover;
            }
        }
    }
}

.open-enter-active {
    animation-name: abrir-menu;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
.open-leave-active {
    animation-name: fechar-menu;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes abrir-menu {
    0% {
        opacity: 0;
        height: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        height: 185px;
    }
}

@keyframes fechar-menu {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
        height: 185px;
    }

    100% {
        opacity: 0;
        height: 0;
    }
}
