.home {
    padding: 10px;
    padding-bottom: 0;
    background-image: linear-gradient(
        320deg,
        $backgroundGradient1,
        $backgroundGradient2,
        $backgroundGradient3
    );
    display: flex;
    flex-direction: column;
    align-items: center;

    & h2 {
        margin: 10px 0;
        padding: 10px;
        font-family: $raleway;
        font-size: 2rem;
        text-align: center;
        font-weight: 600;
    }

    & button {
        font-weight: 300;
    }
}

@media screen and (min-width: 1024px) {
    .home {
        & h2 {
            font-size: 2.5rem;
        }
    }
}

.representantes {
    position: relative;
    z-index: 1;
    background-color: $representantes;
    padding: 15px;
    box-shadow: 0 -2px 20px #00000088;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h2 {
        margin: 10px 0;
        padding: 10px;
        font-family: $raleway;
        font-size: 2rem;
        text-align: center;
        font-weight: 600;
    }

    &__conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & .card-representante {
        box-sizing: border-box;
        position: relative;
        width: 100%;
        max-width: 600px;
        margin: 10px 0;
        padding: 10px;
        border-radius: 8px;
        background-color: $card;


        & .rep {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            & .bandeira {
                border-radius: 8px;
                padding: 8px;
                background-color: black;

                display: flex;
                align-items: center;
                justify-content: center;
            }

            & .bandeira-gay {
                background-image: linear-gradient(
                    #078d70,
                    #26ceaa,
                    #98e8c1,
                    #efefff,
                    #7bade2,
                    #5049cc,
                    #3d1a78
                );
            }

            & .bandeira-bi {
                background-image: linear-gradient(
                    #de0068,
                    #a30995,
                    #3900ab
                );
            }

            & img {
               width: 9.3rem;
               border-radius: 8px;
            }

            & .rep__info {
                height: 10.2rem;
                padding-left: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                & .conhecendo {
                    text-align: right;

                    & h3 {
                        font-weight: 300;
                        margin: 0;
                    }

                    & .titulo {
                        opacity: .7;
                    }
                }
            }
        }

        & .sobre {
            margin-top: 5px;
            padding: 5px;
            font-size: 1rem;

            & p {
                margin: 0;
            }
        }

        & .contato {
            padding: 10px;
            border-radius: 8px;
            background-color: #0000004b;
            display: flex;
            flex-direction: column;

            & h4 {
                margin: 0;
            }

            & ul {
                margin: 0;
                padding-left: 10px;
                list-style: none;
            }
        }
    }
}

@media screen and (min-width: 460px) {
    .representantes {
        &__conteiner {
            width: 100%;
        }

        & .card-representante {

            & .outras-rep-info {
                margin-top: 10px;
            }

            & .sobre {
                position: absolute;
                bottom: 7.2rem;
                left: 11.5rem;
                width: 50%;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .representantes {

        &__conteiner {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        & .card-representante {
            min-width: 300px;
            width: 50%;
            margin: 10px;

            .rep {
                & img {
                    width: 14rem;
                }

                &__info {
                    & h3 {
                        font-size: 1.5rem;
                    }

                    & .titulo {
                        font-size: 1.2rem;
                    }
                }
            }

            & .sobre {
                left: 16rem;
            }
        }
    }
}

@media screen and (min-width: 1270px) {
    .representantes {

        & .card-representante {

            & .outras-rep-info {
                position: absolute;
                bottom: 1rem;
                left: 16.5rem;
                width: 60%;
                margin: 0;
            }

            & .sobre {
                position: static;
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 1370px) {
    .representantes {
        & .card-representante {
            .outras-rep-info {
                width: 60%;
            }
        }
    }
}
