.horarios {
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    padding: 10px;
    margin-top: 80px;
    text-align: center;
    background-color: $branco;
    display: flex;
    flex-direction: column;
    align-items: center;

    .divisor-triangular {
        position: absolute;
        top: -7rem;
        width: 100vw;
        height: 100px;
        background-color: $branco;
        clip-path: polygon(0 90%, 100% 2%, 100% 100%, 0% 100%);
    }

    & h2 {
        color: #358932;
    }

    &__conteiner {
        overflow: hidden;
    }

    & img {
        position: relative;
        bottom: 2rem;
        width: 52%;
        transform: scale(2);
    }
}

@media screen and (min-width: 900px) {
    .horarios {

        & img {
            bottom: 5rem;
            width: 50%;
        }
    }
}
