:root {
    --background-gradient-1: #0a3834;
    --background-gradient-2: #0a756c;
    --background-gradient-3: #1c5451;
    --header: #2B083F;
    --representantes: #2B083F;
    --footer: #2B083F;
    --botao-comum: #440E63;
    --botao-comum-hover: #4e136ed5;
    --botao-toggle-ativo: #F1FAEE;
    --botao-toggle-ativo-hover: #c1c8be;
    --botao-toggle: transparent;
    --botao-toggle-hover:#F1FAEE;

    --card-aviso: #F1FAEE;
    --alerta: #896e4b;
    --card: #4E136E;

    --modal: #4E136E, #2B083F;

    --branco: #fff;
    --preto: #000;
    --branco-site: #F1FAEE;

    --poppins: 'Poppins', sans-serif;
    --raleway: 'Raleway', sans-serif;
}
