$backgroundGradient1: var(--background-gradient-1);
$backgroundGradient2: var(--background-gradient-2);
$backgroundGradient3: var(--background-gradient-3);

$header: var(--header);
$representantes: var(--representantes);
$footer: var(--footer);

$botaoComum: var(--botao-comum);
$botaoComumHover: var(--botao-comum-hover);
$botaoToggleAtivo: var(--botao-toggle-ativo);
$botaoToggleAtivoHover: var(--botao-toggle-ativo-hover);
$botaoToggle: var(--botao-toggle);
$botaoToggleHover: var(--botao-toggle-hover);

$cardAviso: var(--card-aviso);
$alerta: var(--alerta);
$card: var(--card);

$branco: var(--branco);
$preto: var(--preto);
$brancoSite: var(--branco-site);

$poppins: var(--poppins);
$raleway: var(--raleway);
